<header class="header">
    <div class="header__logo">PMDB</div>
  <nav class="nav-primary">
    <ul class="nav-primary__list">
      @for(link of links; track $index) {
      <li class="nav-primary__listitem" 
          [routerLinkActive]="'nav-primary__listitem--active'"
          [routerLinkActiveOptions]="{exact: link.exact}"
          >
          <a class="nav-primary__anchor" [routerLink]="[link.href]">{{link.name}}</a>
      </li>
      }
    </ul>
  </nav>
  <div class="header__button-group">
      <button class="button button--secondary">Login</button>
      <app-button>Test</app-button>
  </div>
</header>
