<header class="header">
    <a class="header__anchor" [routerLink]="['/']">
        <div class="header__logo">PMDB</div>
    </a>
    <nav class="nav-primary">
        <ul class="nav-primary__list">
            @for(link of routingService.primaryNavigation; track $index) {
            <li class="nav-primary__listitem" [routerLinkActive]="'nav-primary__listitem--active'"
                [routerLinkActiveOptions]="{exact: link.exact}">
                <a class="nav-primary__anchor" [routerLink]="[link.href]">
                    <div class="nav-primary__box">
                        {{link.name}}
                    </div>
                </a>
            </li>
            }
        </ul>
    </nav>
</header>
