:host {
    display: contents;
}

main {
    min-width: min(100%, 1440px);
    max-width: 1440px;
    margin: 0 auto;
}

.background-image {
    position: absolute;
    inset: 0;
    min-height: 100%;
    z-index: -2;
}

.background-blur {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, .55);
    backdrop-filter: blur(50px);
    z-index: -1;
    overflow: hidden;
}

