:host {
    display: flex;
}
div {
    display: flex;
    flex-direction: column;
}


span {
    width: 50px;
    height: 50px;
}

div:nth-of-type(1) span:nth-of-type(1) { background: var(--clr-rust-0);}
div:nth-of-type(1) span:nth-of-type(2) { background: var(--clr-rust-10);}
div:nth-of-type(1) span:nth-of-type(3) { background: var(--clr-rust-20);}
div:nth-of-type(1) span:nth-of-type(4) { background: var(--clr-rust-30);}
div:nth-of-type(1) span:nth-of-type(5) { background: var(--clr-rust-40);}
div:nth-of-type(1) span:nth-of-type(6) { background: var(--clr-rust-50);}
div:nth-of-type(1) span:nth-of-type(7) { background: var(--clr-rust-60);}
div:nth-of-type(1) span:nth-of-type(8) { background: var(--clr-rust-70);}
div:nth-of-type(1) span:nth-of-type(9) { background: var(--clr-rust-80);}
div:nth-of-type(1) span:nth-of-type(10) { background: var(--clr-rust-90);}
div:nth-of-type(1) span:nth-of-type(11) { background: var(--clr-rust-100);}

div:nth-of-type(2) span:nth-of-type(1) { background: var(--clr-petroleum-100);}
div:nth-of-type(2) span:nth-of-type(2) { background: var(--clr-petroleum-95);}
div:nth-of-type(2) span:nth-of-type(3) { background: var(--clr-petroleum-90);}
div:nth-of-type(2) span:nth-of-type(4) { background: var(--clr-petroleum-80);}
div:nth-of-type(2) span:nth-of-type(5) { background: var(--clr-petroleum-70);}
div:nth-of-type(2) span:nth-of-type(6) { background: var(--clr-petroleum-60);}
div:nth-of-type(2) span:nth-of-type(7) { background: var(--clr-petroleum-30);}
div:nth-of-type(2) span:nth-of-type(8) { background: var(--clr-petroleum-20);}
div:nth-of-type(2) span:nth-of-type(9) { background: var(--clr-petroleum-10);}
div:nth-of-type(2) span:nth-of-type(10) { background: var(--clr-petroleum-5);}
div:nth-of-type(2) span:nth-of-type(11) { background: var(--clr-petroleum-0);}
