:host {
    display: grid;
    gap: var(--radii-medium);
}

section {
    margin-block-end: var(--spacing-large);
}

.list--about {
    padding: var(--spacing-medium);
}

.list--about__accent {
    color: var(--clr-accent);
}
