:host {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--spacing-large, 2rem);
}

.hero--image {
    grid-column: span 1;
}

.hero--about {
    grid-column: span 3;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-small, 0.5rem);
}

