:host {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--spacing-large, 2rem);
}

.hero--image {
    grid-column: span 1;

    @media (max-width: 1000px) {
        grid-column: span 2;
    }

    @media (max-width: 500px) {
        grid-column: span 4;
    }
}

.hero--about {
    grid-column: span 3;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-small, 0.5rem);

    @media (max-width: 1000px) {
        grid-column: span 2;
    }

    @media (max-width: 500px) {
        grid-column: span 4;
    }
}
