:host {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-small);
}

.article__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (min-width: 1440px) {
        padding-inline-end: var(--spacing-large);
    }
}

.article--grid {
    position: relative;
    display: flex;
    gap: var(--spacing-medium);
    overflow: hidden;
    min-width: 0;
}

.article--grid::after {
    position: absolute;
    content: "";
    background: linear-gradient(to right, rgba(0, 0, 0, 0), var(--clr-surface-elevation-1));
    min-height: 100%;
    min-width: 100px;
    right: 0;
}
