:host {
    --list__item-image-width: 120px;
    display: grid;
    padding-block: var(--spacing-large);
    gap: var(--spacing-large);
}

.list {
    display: grid;
    list-style: none;
    background: var(--clr-surface-elevation-1);
    border-radius: var(--radii-medium);
    padding-inline: var(--spacing-medium);
    padding-block-end: var(--spacing-medium);
    @media (max-width: 600px) {

        padding-inline: 0;
    }

}

.list__item {
    text-decoration: none;
    display: grid;
    grid-template-columns: minmax(0, min(120px, 100%)) 1fr;
    border-radius: var(--radii-small);
    padding-block: var(--spacing-medium);

    @media (max-width: 600px) {
        grid-template-columns: 100%;
        padding-inline: var(--spacing-medium);
    }
}

.list__item:hover {
    background: var(--clr-surface-elevation-2);
}

.list__item--not-has-image {
    grid-template-columns: 1fr;
    padding-block: var(--spacing-medium);
}

.list__item-body {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-small);
    padding-inline: var(--spacing-medium);

    @media (max-width: 600px) {
        padding-inline: 0;
        padding-block: var(--spacing-medium);
    }
}


.body__content {
    color: var(--clr-on-surface);
}
