<a [routerLink]="['../']" (click)="goBack($event)">Back</a>
<h1>Posters</h1>

<section>
    <app-lightbox [visible]="lightboxOpen()" (closeRequest)="closeLightbox()"
        [params]="createLightboxImageParams(posters())"></app-lightbox>
</section>
<section class="">
    <div>
        <app-simple-grid>
            @for(i of posters(); track $index) {
            <li (click)="openLightbox($index)" class="list__item">
                <app-card [params]="createParams(i)">
                </app-card>

            </li>

            }
        </app-simple-grid>
    </div>
</section>
