@defer(when trendingShows() !== undefined) {
<app-simple-grid [maxWidth]="cardMaxWidth">
    @for( show of trendingShows(); track $index) {
    <app-card (mouseenter)="prefetchService.startIntent(show.id)" (mouseleave)="prefetchService.clearIntent()"
        [params]="createCardParams(show)">
        <app-content-show [params]="show"></app-content-show>
    </app-card>
    }
</app-simple-grid>
<app-pagination (pageRequest)="paginate($event)" [pagination]=paginationResult()></app-pagination>
}
@loading() {
<app-simple-grid [maxWidth]="cardMaxWidth">
    @for(card of [].constructor(20); track $index){
    <app-card-loading></app-card-loading>
    }
</app-simple-grid>
}

@placeholder {
<app-simple-grid [maxWidth]="cardMaxWidth">
    @for(card of [].constructor(20); track $index){
    <app-card-loading></app-card-loading>
    }
</app-simple-grid>

}
