@defer(when detailedPeople() !== undefined) {
<main>
    <div class="container">
        <section class="hero">
            <app-image class="hero--image" [params]="posterParams"></app-image>
            <div class="hero--about">
                <div class="hero--header">
                    <h1 [title]="'Also known as: \n' + people.alsoKnownAs.join(',\n')">
                        {{people.name}}
                    </h1>
                </div>
                <div class="hero--meta">
                        @for(data of metadata; track $index){
                            <span>{{data.value}}</span>
                            @if($index !== metadata.length - 1) {
                            <span> | </span>
                            }
                        }
                </div>

                <p>{{people.biography}}</p>
                <a [href]="imdbUrl" rel="noreferrer" target="_blank">View at imdb</a>
            </div>
        </section>
        <section class="content">
            <div class="main">
                <div class="cast">
                    <h2>Images</h2>
                    <div class="cast--grid">
                        @for(image of people.images; track $index) {
                        <app-card [params]="getPeopleCardParams(image)"></app-card>
                        }
                    </div>
                </div>
                <h2>Recommendations</h2>
                <div class="recommendations--grid">
                </div>
            </div>
            <aside>
                <h2>Keywords</h2>
                <div class="meta--keywords">
                </div>
            </aside>
        </section>
    </div>
</main>

}
@placeholder {
Loading...
}
