:host {
    --list__item-image-width: 120px;
    display: grid;
    gap: var(--radii-medium);
}

.container {
    padding: var(--spacing-large);
}

section {
    margin-block-end: var(--spacing-extra-large);
}

.list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    list-style: none;
    gap: var(--spacing-large);
}

.list__item {
    display: contents;
}

.list--item {
    background: var(--clr-surface-elevation-2);
}

.list--about {
    padding: var(--spacing-medium);
}

.list--about__accent {
    color: var(--clr-accent);
}
