@defer(when popularMovies() !== undefined) {
<app-simple-grid [maxWidth]="cardMaxWidth">
    @for( movie of popularMovies(); track $index) {
    <app-card (mouseenter)="prefetchService.startIntent(movie.id)" (mouseleave)="prefetchService.clearIntent()"
        [params]="createCardParams(movie)">
        <app-content-movie [params]="movie"></app-content-movie>
    </app-card>
    }
</app-simple-grid>
<app-pagination (pageRequest)="paginate($event)" [pagination]=paginationResult()></app-pagination>
}
@loading() {
<app-simple-grid [maxWidth]="cardMaxWidth">
    @for(card of [].constructor(20); track $index){
    <app-card-loading></app-card-loading>
    }
</app-simple-grid>
}

@placeholder {
<app-simple-grid [maxWidth]="cardMaxWidth">
    @for(card of [].constructor(20); track $index){
    <app-card-loading></app-card-loading>
    }
</app-simple-grid>

}
