:host {
    height: calc(100lvh - var(--app-header-height));
    display: grid;
    grid-template-rows: auto 0 1fr;
    position: relative;
    margin-block-start: var(--app-header-height);
}

app-header {
    position: absolute;
    z-index: 1000;
    top: calc(var(--app-header-height) * -1);
    width: 100vw;
}

.scrollable-container {
    overflow: auto;
    scrollbar-gutter: auto;
    min-height: 100%;
}


