:host {
    display: grid;
    grid-template-columns: 360px 1fr;
    gap: var(--spacing-lg, 2rem);
}

main {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-large);

}

aside {
    position: relative;
}

form {
    position: sticky;
    top: 0;
    display: grid;
    gap: var(--spacing-medium);
}

.keywords {
    position: relative;
}


.filter {
    padding: var(--spacing-medium);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-medium);
    
    border: 2px solid var(--clr-surface-elevation-3);
    border-radius: var(--radii-small);
}


legend {
    color: var(--clr-accent);
    font-weight: var(--fw-laberl-medium);
}


.filter--range {
    display: flex;
    gap: var(--spacing-small);
}

.filter--range > * {
    width: min-content;
}

.keywordSearchResults {
    position: absolute;
    background: var(--clr-surface-elevation-2);
    padding-block: var(--spacing-small, 0.5rem);
}

.keywordSearchResults>* {
    list-style: none;
    padding-inline: var(--spacing-large, 1rem);
    padding-block: var(--spacing-small, 0.5rem);
}

.keywordSearchResults>*:hover {

    background: var(--clr-surface-elevation-3);
}
