<aside>
    <form (ngSubmit)="onSubmit()" [formGroup]="discoverForm">
        <fieldset class="genre">
            <legend>Genre</legend>
            <app-combobox class="genre--select" [title]="'choose'">
                <app-listbox class="list" [params]="listboxParams" formControlName="genres"></app-listbox>
                <app-chip-list class="selected">
                    @for(chip of discoverForm.value.genres; track $index) {
                    <app-chip [value]="chip.toString()" [action]="true" (clickRequest)="onRemove($event)">{{parseGenre(chip)}}</app-chip>
                    }
                </app-chip-list>
            </app-combobox>
        </fieldset>
        <fieldset formGroupName="voteAverage">
            <legend>Vote average</legend>
            <div class="range">
                <label class="range--select" for="vote-average-gte">
                    At least
                    <app-combobox [title]="voteAverageSignal().gte">
                        <app-listbox class="list" id="vote-average-gte" formControlName="gte"
                            [params]="voteAverageOptions" [multi]="false"></app-listbox>
                    </app-combobox>
                </label>
                <label class="range--select" for="vote-average-lte">
                    At most
                    <app-combobox [title]="voteAverageSignal().lte">
                        <app-listbox class="list" id="vote-average-lte" formControlName="lte"
                            [params]="voteAverageOptions" [multi]="false"></app-listbox>
                    </app-combobox>
                </label>

            </div>
        </fieldset>
        <fieldset class="range" formGroupName="releaseDate">
            <legend>Release date</legend>
            <label class="range--select" for="release-date-gte">
                At least
                <app-combobox [title]="releaseDateSignal().gte">
                    <app-listbox class="list" id="release-date-gte" formControlName="gte" [params]="yearOptions"
                        [multi]="false"></app-listbox>
                </app-combobox>
            </label>
            <label class="range--select" for="release-date-lte">
                At most
                <app-combobox [title]="releaseDateSignal().lte">
                    <app-listbox class="list" id="release-date-lte" formControlName="lte" [params]="yearOptions"
                        [multi]="false"></app-listbox>
                </app-combobox>
            </label>
        </fieldset>

        <fieldset formGroupName="include">
            <legend>Include</legend>
            <div class="extra">
                <label class="extra--choice" for="include-adult">
                    Adult
                </label>
                <input id="include-adult" type="checkbox" formControlName="adult">
                <label class="extra--choice" for="include-video">
                    Video
                </label>
                <input id="include-video" type="checkbox" formControlName="video">
            </div>
        </fieldset>
        <button>Discover</button>
    </form>
</aside>

<main>
    @defer(when results() !== undefined) {
    <app-card-grid>
        @for( movie of results(); track $index) {
        <app-card [params]="{id: movie.id, src: movie.posterImagePath}">
            <app-content-movie [params]="movie"></app-content-movie>
        </app-card>
        }
    </app-card-grid>
    <app-pagination (pageRequest)=handlePageRequest($event) [pagination]="pagination()"></app-pagination>
    }
</main>
