:host {
    display: grid;
    grid-template-columns: 360px 1fr;
    gap: var(--spacing-lg, 2rem);
}

main {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-large);

}

aside {
    position: relative;
}

form {
    position: sticky;
    top: 0;
    display: grid;
    gap: var(--spacing-medium);
}

.genre {
    padding: var(--spacing-medium, 1rem);
}

.range {
    padding: var(--spacing-medium, 1rem);
    display: flex;
    gap: var(--spacing-medium, 1rem);
}

.range--select {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-medium, 0.5rem)
}

.extra {
    padding: var(--spacing-medium, 1rem);
    display: grid;
    grid-template-columns: max-content 1.5rem;
    gap: var(--spacing-medium, 0.5rem);
}

.extra--choice {
    display: flex;
    align-items: center;
    height: 2rem;
}


.keywords {
 position: relative;
}

.keywordSearchResults {
    position: absolute;
    background: var(--clr-surface-elevation-2);
    padding-block: var(--spacing-small, 0.5rem);
}

.keywordSearchResults>* {
    list-style: none;
    padding-inline: var(--spacing-large, 1rem);
    padding-block: var(--spacing-small, 0.5rem);
}

.keywordSearchResults>*:hover {

    background: var(--clr-surface-elevation-3);
}
