<form (ngSubmit)="onSubmit()" [formGroup]="discoverForm">
    <fieldset>
        <legend>Genre</legend>
        <app-combobox [params]="discoverForm.value.genres">
            <app-listbox [params]="listboxParams" formControlName="genres"></app-listbox>
        </app-combobox>
    </fieldset>

    <fieldset formGroupName="voteAverage">
        <legend>Vote average</legend>
        <label for="vote-average-gte">
            At least
            <input id="vote-average-gte" type="number" min="0" max="10" formControlName="gte">
        </label>
        <label for="vote-average-lte">
            At most
            <input id="vote-average-lte" type="number" min="0" max="10" formControlName="lte">
        </label>
    </fieldset>
    <fieldset formGroupName="releaseDate">
        <legend>Release date</legend>
        <label for="release-date-gte">
            At least
            <select id="release-date-gte" formControlName="gte">
                <optgroup>
                    <option [value]=""></option>
                    @for(year of years; track $index) {
                    <option [value]="year">{{year}}</option>
                    }
                </optgroup>
            </select>
        </label>
        <label for="release-date-lte">
            At most
            <select id="release-date-lte" formControlName="lte">
                <optgroup>
                    <option [value]=""></option>
                    @for(year of years; track $index) {
                    <option [value]="year">{{year}}</option>
                    }
                </optgroup>
            </select>

        </label>
    </fieldset>

    <fieldset formGroupName="include">
        <legend>Include</legend>
        <label for="include-adult">
            Adult
            <input id="include-adult" type="checkbox" formControlName="adult">
        </label>
        <label for="include-video">
            Video
            <input id="include-video" type="checkbox" formControlName="video">
        </label>
    </fieldset>
    <button>Discover</button>
</form>

@defer(on immediate; when results() !== undefined) {
<app-card-grid>
    @for( movie of results(); track $index) {
    <app-card [params]="{id: movie.id, src: movie.posterImagePath}">
        <app-content-movie [params]="movie"></app-content-movie>
    </app-card>
    }
</app-card-grid>
}
