@let m = detailedMovie();
<app-content-hero>
    <app-image ngProjectAs="hero-image" [rounded]="true" [params]="posterParams(m)"></app-image>
    <ng-container ngProjectAs="hero-about">
        <div class="hero--header">
            <h1 [title]="'Original title: ' + m.originalTitle">{{m.title}}
                @if(m.status !== "released"){
                <h5>
                    ({{m.status}})
                </h5>
                }
            </h1>
            <h5 [title]="m.voteCount">{{m.voteAverage | number: '1.1-1'}} / 10</h5>
        </div>
        <div class="hero--meta">
            @for(data of metaData(m); track $index) {
            <span [title]="data.alt">{{data.value}} {{data.suffix}}</span>
            @if($index !== metaData.length - 1) {
            <span>|</span>
            }
            }
        </div>
        <p>{{m.overview}}</p>
        <div class="hero--genres">
            @for(genre of m.genres; track $index) {
            <app-chip [value]="genre.name">{{genre.name}}</app-chip>
            }
        </div>
        <a [href]="imdbUrl(m)" rel="noreferrer" target="_blank">View at imdb</a>
    </ng-container>
</app-content-hero>

<app-content-with-sidebar>
    <ng-container ngProjectAs="sidebar-content">
        <h2>Keywords</h2>
        <div class="meta--keywords">
            @for(keyword of m.keywords; track $index) {
            <app-chip [value]="keyword.name"
                [link]="{href:['/', 'movies', 'discover'], queryParams: {withKeyword: keyword.id.toString()}}">{{keyword.name}}
            </app-chip>
            }
        </div>
    </ng-container>
    <ng-container ngProjectAs="main-content">
        <app-overflow-row [options]="castOptions()">
            @for(top of topBilled(m); track $index){
            <app-card class="article--item" [params]="createTopCardParams(top)">
                <div class="article--about">
                    <h5 class="article--about__accent">
                        {{top.character}}
                    </h5>
                    <span>{{top.name}}</span>
                </div>
            </app-card>
            }
        </app-overflow-row>
        <app-overflow-row [options]="recommendedOptions()">
            @for(rec of m.recommendations.results; track $index){
            <app-card class="article--item" [params]="createRecommendationCardParams(rec)">
                <div class="article--about">
                    <h5 class="article--about__accent">
                        {{rec.title}}
                    </h5>
                    <span>{{rec.releaseDate}}</span>
                </div>
            </app-card>
            }
        </app-overflow-row>
    </ng-container>
</app-content-with-sidebar>
