:host {
    display: contents;
}

.hero--header {
    display: grid;
    grid-template-columns: 1fr max-content;
    gap: var(--spacing-medium, 1rem);
}

.hero--genres {
    display: flex;
    flex-grow: 0;
    gap: var(--spacing-small, 0.5rem);
}

.hero--meta {
    display: flex;
    gap: var(--spacing-small, 0.5rem);
}

.article--item {
    background: var(--clr-surface-elevation-2);
    flex: 0 0 200px;
}

.article--about {
    padding: var(--spacing-medium);
}

.article--about__accent {
    color: var(--clr-accent);
}

app-overflow-row:not(:last-child) {
    margin-bottom: var(--spacing-large);
}

.meta--keywords {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-small);
    text-transform: capitalize;
}

