@let m = detailedMovie();
    <div class="container">
        <section class="hero">
            <app-image class="hero--image" [params]="posterParams(m)"></app-image>
            <div class="hero--about">
                <div class="hero--header">
                    <h1 [title]="'Original title: ' + m.originalTitle">{{m.title}}
                        @if(m.status !== "released"){
                        <h5>
                            ({{m.status}})
                        </h5>
                        }
                    </h1>
                    <h5 [title]="m.voteCount">{{m.voteAverage | number: '1.1-1'}} / 10</h5>
                </div>
                <div class="hero--meta">
                    @for(data of metaData(m); track $index) {
                    <span [title]="data.alt">{{data.value}} {{data.suffix}}</span>
                    @if($index !== metaData.length - 1) {
                    <span>|</span>
                    }
                    }
                </div>
                <p>{{m.overview}}</p>
                <div class="hero--genres">
                    @for(genre of m.genres; track $index) {
                    <app-chip [value]="genre.name">{{genre.name}}</app-chip>
                    }
                </div>
                <a [href]="imdbUrl(m)" rel="noreferrer" target="_blank">View at imdb</a>
            </div>
        </section>
        <section class="content">
            <div class="main">
                <article class="article cast-and-crew">
                    <div class="article__header">
                        <h2>Top billed cast</h2>
                        <a [routerLink]="['cast-and-crew']">Show all</a>
                    </div>
                    <div class="article--grid">
                        @for(top of topBilled(m); track $index){
                        <app-card class="article--item" [params]="createTopCardParams(top)">
                            <div class="article--about">
                                <h5 class="article--about__accent">
                                    {{top.character}}
                                </h5>
                                <span>{{top.name}}</span>
                            </div>
                        </app-card>

                        }
                    </div>
                </article>

                <article class="article recommendations">
                    <div class="article__header">
                        <h2>Recommendations</h2>
                        <a [routerLink]="['recommendations']">Show all</a>
                    </div>
                    <div class="article--grid">
                        @for(rec of m.recommendations.results; track $index){
                        <app-card class="article--item" [params]="createRecommendationCardParams(rec)">
                            <div class="article--about">
                                <h5 class="article--about__accent">
                                    {{rec.title}}
                                </h5>
                                <span>{{rec.releaseDate}}</span>
                            </div>
                        </app-card>

                        }
                    </div>
                </article>
            </div>
            <aside class="content__aside">
                <h2>Keywords</h2>
                <div class="meta--keywords">
                    @for(keyword of m.keywords; track $index) {
                    <app-chip [value]="keyword.name">{{keyword.name}}</app-chip>
                    }
                </div>
            </aside>
        </section>
    </div>

