:host {
    display: contents;
}

.listbox {
    padding-block: var(--spacing-medium, 1rem);
    background: var(--clr-surface-elevation-2, red);
    width: max-content;
    max-height: 30vh;
    overflow-y: auto;
}

.listbox--item {
    list-style: none;
    height: var(--listbox-height, 2rem);
    padding-inline: var(--spacing-medium, 1rem);
    display: flex;
    align-items: center;
    vertical-align: middle;
    text-overflow: ellipsis;
    cursor: pointer;
}

.listbox--item:hover {
    background: var(--clr-surface-elevation-3);
}

.listbox--item.item__active {
    background: var(--clr-accent, red);
    color: var(--clr-on-accent, white);
}

.listbox.listbox__disabled, .listbox--item.item__disabled {
    background: var(--clr-disabled, gray);
    color: var(--clr-on-disabled, dark-gray);
    cursor: not-allowed;
}
