<a [routerLink]="['../']" (click)="goBack($event)">Back</a>
<h1>Recommendations</h1>
<ul class="list">
    @for(r of people().filmography.allMovies.cast; track $index) {
    <li class="list__item">
        <a [routerLink]="['../..', r.id]" class="list__item-anchor">
            <app-image class="list__item-image" [params]="createImageParams(r)"></app-image>
            <div class="list__item-wrapper">
                <div class="list__item-header">
                    <span class="label-medium">{{r.title}}</span>
                    <span class="label-medium">{{r.releaseDate}}</span>
                </div>
                <div class="list__item-content">
                    <span>{{r.overview}}</span>
                </div>
            </div>
        </a>
    </li>
    }
</ul>
