@let cast = credited()!;
<app-simple-list-page [options]="createListParams()" [items]="cast" [loaded]="!!credited()">
    <ng-template listItemImage let-item>
        <app-image [params]="createImageParams(item)"></app-image>
    </ng-template>
    <ng-template listItemTitle let-item>
        {{item.title}} ({{item.releaseDate ? item.releaseDate : item.firstAirDate}})
    </ng-template>
    <ng-template listItemContent let-item>
        {{item.overview}}
    </ng-template>
</app-simple-list-page>
