@defer(when trendingMovies() !== undefined) {
<app-simple-grid [maxWidth]="'250px'">
    @for( movie of trendingMovies(); track $index) {
    <app-card (mouseenter)="prefetchService.startIntent(movie.id)" (mouseleave)="prefetchService.clearIntent()"
        [params]="createCardParams(movie)">
        <app-content-movie [params]="movie"></app-content-movie>
    </app-card>
    }
</app-simple-grid>

<app-pagination (pageRequest)="paginate($event)" [pagination]=paginationResult()></app-pagination>
}

@loading() {
<app-simple-grid [maxWidth]="'250px'">
    @for(card of [].constructor(20); track $index){
    <app-card-loading></app-card-loading>
    }

</app-simple-grid>
}

@placeholder {

<app-simple-grid [maxWidth]="'250px'">
    @for(card of [].constructor(20); track $index){
    <app-card-loading></app-card-loading>
    }
</app-simple-grid>

}
