<div class="search">
    <app-hero-search class="search__bar" (search)="search($event)"></app-hero-search>
    @defer(when searchResults() !== undefined) {
    <div class="search__result-list-wrapper">
        <ul class="search__result-list">
            @for(result of searchResults()! || []; track $index) {
            <li class="search__result">
                <a class="search__result-anchor" [routerLink]="['/', result.stub, result.id]">
                    <app-image class="search__result-image" [params]=createImageParams(result)></app-image>
                    <div class="search__result-wrapper">
                        <span class="search__result-data">{{result.name}}
                            @if(result.releaseDate){
                            <span class="search__result-data-inner">({{result.releaseDate}})</span>
                            }
                        </span>
                        <span class="search__result-data-inner">{{result.mediaType}}</span>

                    </div>
                </a>
            </li>
            }
        </ul>
    </div>
    }
</div>
