:host {
    display: contents;
}

app-overflow-row:not(:last-child) {
    margin-bottom: var(--spacing-large);
}


.article--item {
    background: var(--clr-surface-elevation-2);
    flex: 0 0 200px;
}

.article--about {
    padding: var(--spacing-medium);
}

.article--about__accent {
    color: var(--clr-accent);
}


.meta--keywords {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-small);
    text-transform: capitalize;
}

.meta--credits span {
    text-align: right;
    font-variant-numeric: tabular-nums;
}

.meta--credits {
    display: grid;
    grid-template-columns: 1fr max-content;
}
