/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --clr-rust-100: #FDC3A5;
    --clr-rust-90: #F7B393;
    --clr-rust-80: #F1A481;
    --clr-rust-70: #EC9570;
    --clr-rust-60: #E6875F;
    --clr-rust-50: #E07850;
    --clr-rust-40: #D26A42;
    /* Base Rusty Orange ok on backgroun */
    --clr-rust-30: #C25F3B;
    --clr-rust-20: #B25535;
    --clr-rust-10: #A24B30;
    --clr-rust-0: #922A21;

    --clr-petroleum-100: #101A21;
    --clr-petroleum-95: #19232A;
    --clr-petroleum-90: #222D34;
    --clr-petroleum-80: #2C373E;
    --clr-petroleum-70: #364148;
    --clr-petroleum-60: #404B52;
    --clr-petroleum-30: #CAD5DD;
    --clr-petroleum-20: #D1D9E0;
    --clr-petroleum-10: #D8DEE3;
    --clr-petroleum-5: #E6E6E9;
    --clr-petroleum-2: #F2EDEE;
    --clr-petroleum-0: #FFFFFF;

    --clr-primary: var(--clr-petroleum-100);
    --clr-on-primary: var(--clr-petroleum-0);
    --clr-accent: var(--clr-rust-40);
    --clr-on-accent: var(--clr-petroleum-100);

    --clr-background: var(--clr-primary);
    --clr-on-background: var(--clr-on-primary);

    --clr-surface-elevation-1: var(--clr-petroleum-95);
    --clr-surface-elevation-2: var(--clr-petroleum-90);
    --clr-surface-elevation-3: var(--clr-petroleum-80);
    --clr-surface-elevation-4: var(--clr-petroleum-70);
    --clr-surface-elevation-5: var(--clr-petroleum-60);
    --clr-on-surface: var(--clr-petroleum-0);
    --clr-on-surface-accent: var(--clr-accent);

    --duration-short: 200ms;
    --duration-medium: 400ms;
    --duration-long: 200ms;


    --fs-display-large: 5rem;
    --fs-display-medium: 4rem;
    --fs-display-small: 3rem;

    --fs-headline-large: 2.5rem;
    --fs-headline-medium: 2.0rem;
    --fs-headline-small: 1rem;

    --fs-body-large: 1.20rem;
    --fs-body-medium: 1.0rem;
    --fs-body-small: 0.80rem;

    --heading-line-height-multiplier: 1.2;
    --body-line-height-multiplier: 1.5;


    --ff-heading: "Inter", serif;
    --ff-body: "Inter", serif;

}


@media (prefers-color-scheme: light) {
    :root {
        --clr-background: #CAD5DD;
        --clr-on-background: #101A21;

        --clr-surface-elevation-1: #AFC2D0;
        --clr-surface-elevation-2: #94AEBF;
        --clr-surface-elevation-3: #799AAD;
        --clr-surface-elevation-4: #5F859B;
        --clr-surface-elevation-5: #466F88;

        --clr-on-surface: #101A21;
        --clr-on-surface-accent: #D26A42;
    }
}

@media (prefers-reduced-motion) {
    :root {
        --duration-short: 0ms;
        --duration-medium: 0ms;
        --duration-long: 0ms;
    }
}

html {
    color: var(--clr-on-background, black);
    background: var(--clr-background, white);
    font-family: var(--ff-body);
    font-optical-sizing: auto;
    font-style: normal;
    font-size: var(--fs-body-medium);
    line-height: calc(var(--fs-body-medium) * var(--body-line-height-multiplier));
}

h1,
h2,
h3,
h4 {
    font-family: var(--ff-heading);
}

h5 {
    font-family: var(--ff-body);
    font-size: var(--fs-headline-small);
    font-weight: 600;
    line-height: calc(var(--fs-headline-small) * var(--heading-line-height-multiplier));
    letter-spacing: 0.25px;
    text-transform: capitalize
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
