:host {
    --checkbox-size: 1.25rem;
    --checkbox-border-size: 0.125rem;
    --checkbox-border-radius: var(--radii-medium);
    --checkbox-check-color: var(--clr-accent);
    --checkbox-bg-color: var(--clr-surface-elevation-3);

    --container-border-color: var(--clr-accent);

}

.container {
    border: 1px solid var(--container-border-color);
    padding: var(--spacing-medium);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-medium);
}

fieldset {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-medium);
    border: none;
    height: 100px;
    overflow: hidden;
}

fieldset.showMore {
    height: max-content;
}

label {
    display: flex;
    gap: var(--spacing-small);
    text-transform: capitalize;

    cursor: pointer;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--checkbox-bg-color);
    margin: 0;
    font: inherit;
    color: currentColor;
    width: var(--checkbox-size);
    height: var(--checkbox-size);
    border: var(--checkbox-border-size);

    display: grid;
    place-content: center;

}

input[type="checkbox"]::before {
    content: "";
    width: 1rem;
    height: 1rem;
    transform: scale(0);
    box-shadow: inset var(--checkbox-size) var(--checkbox-size) var(--checkbox-check-color);
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}
