@let m = detailedShow();
@if(m) {
<app-content-hero>
    <app-image ngProjectAs="hero-image" [rounded]="true" [params]="posterParams(m)"></app-image>
    <ng-container ngProjectAs="hero-about">
        <div class="hero--header">
            <h1 [title]="'Original title: ' + m.originalName">{{m.name}}
                @if(m.status !== "released"){
                <h5>
                    ({{m.status}})
                </h5>
                }
            </h1>
            <h5 [title]="m.voteCount">{{m.voteAverage | number: '1.1-1'}} / 10</h5>
        </div>
        <div class="hero--meta">
            @for(data of metaData(m); track $index) {
            <span [title]="data.alt">{{data.value}} {{data.suffix}}</span>
            @if($index !== metaData.length - 1) {
            <span>|</span>
            }
            }
        </div>
        <p>{{m.overview}}</p>
        <div class="hero--genres">
            @for(genre of m.genres; track $index) {
            <app-chip [value]="genre.name">{{genre.name}}</app-chip>
            }

            <a [routerLink]="discoverGenres(m.genres)">More like this</a>
        </div>
        <a [href]="imdbUrl(m)" rel="noreferrer" target="_blank">View at imdb</a>
    </ng-container>
</app-content-hero>
<app-content-with-sidebar>
    <ng-container ngProjectAs="sidebar-content">
        <h2>Keywords</h2>
        <div class="meta--keywords">
            @for(keyword of m.keywords; track $index) {
            <app-chip [value]="keyword.name">{{keyword.name}}</app-chip>
            }
        </div>
    </ng-container>
    <ng-container ngProjectAs="main-content">
        <app-overflow-row [options]="seasonsOptions()">
            @for(season of m.seasons; track $index){
            <app-card class="article--item" [params]="createSeasonsCardParams(season)">
                <div class="article--about">
                    <h5 class="article--about__accent">{{season.name}}</h5>
                    <span>{{season.episodeCount}} episodes </span>
                    <span>{{season.airDate}}</span>
                </div>
            </app-card>
            }
        </app-overflow-row>

        <app-overflow-row [options]="castOptions()">
            @for(top of topBilled(m); track $index){
            <app-card class="article--item" [params]="createTopCardParams(top)">
                <div class="article--about">
                    <h5 class="article--about__accent">
                        {{top.character}}
                    </h5>
                    <span>{{top.name}}</span>
                </div>
            </app-card>
            }
        </app-overflow-row>

        <app-overflow-row [options]="recommendationOptions()">
            @for(rec of m.recommendations; track $index){
            <app-card class="article--item" [params]="createRecommendationCardParams(rec)">
                <div class="article--about">
                    <h5 class="article--about__accent">
                        {{rec.name}}
                    </h5>
                    <span>{{rec.firstAirDate}}</span>
                </div>
            </app-card>
            }
        </app-overflow-row>
    </ng-container>
</app-content-with-sidebar>
}
