:host {
    display: grid;
    gap: var(--spacing-large);
}

main {
    margin: 0 auto;
}

h1 {
    word-break: break-all;
}


.hero {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--spacing-large, 2rem);
}

.hero--image {
    grid-column: span 1;
    overflow: hidden;
}

.hero--about {
    grid-column: span 3;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-small, 0.5rem);
}

.hero--genres {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-small, 0.5rem);
}

.hero--meta {
    display: flex;
    gap: var(--spacing-small, 0.5rem);
}

app-overflow-row:not(:last-child) {
    margin-bottom: var(--spacing-large);
}

.article--item {
    background: var(--clr-surface-elevation-2);
    flex: 0 0 200px;
}

.article--about {
    padding: var(--spacing-medium);
    display: flex;
    flex-direction: column;
}

.article--about__accent {
    color: var(--clr-accent);
}


.meta--keywords {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-small);
    text-transform: capitalize;
}
