:host {
    display: grid;
    gap: var(--spacing-large);
}

main {
    margin: 0 auto;
}

h1 {
    word-break: break-all;
}


.hero {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--spacing-large, 2rem);
}

.hero--image {
    grid-column: span 1;
    overflow: hidden;
}

.hero--about {
    grid-column: span 3;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-small, 0.5rem);
}

.hero--genres {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-small, 0.5rem);
}

.hero--meta {
    display: flex;
    gap: var(--spacing-small, 0.5rem);
}

.content {
    background: var(--clr-surface-elevation-1);
    padding: var(--spacing-large);
    padding-block-end: var(--spacing-xx-large);
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-flow: column;
    border-start-start-radius: var(--radii-medium);
    border-start-end-radius: var(--radii-medium);

    @media (max-width: 1440px) {
        grid-auto-flow: row;
        gap: var(--spacing-large);
    }
}

.main {
    grid-column: 1 / span 8;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-large, 2rem);

    @media (max-width: 1440px) {
        grid-column: span 12;
    }
}

.article {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-small);
}

.article__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (min-width: 1440px) {
        padding-inline-end: var(--spacing-large);
    }

}

.article--grid {
    position: relative;
    display: flex;
    gap: var(--spacing-medium);
    overflow: hidden;
    min-width: 0;
}

.article--grid::after {
    position: absolute;
    content: "";
    background: linear-gradient(to right, rgba(0, 0, 0, 0), var(--clr-surface-elevation-1));
    min-height: 100%;
    min-width: 100px;
    right: 0;
}

.article--item {
    background: var(--clr-surface-elevation-2);
    flex: 0 0 200px;
}

.article--about {
    padding: var(--spacing-medium);
    display: flex;
    flex-direction: column;
}

.article--about__accent {
    color: var(--clr-accent);
}


.meta--keywords {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-small);
    text-transform: capitalize;
}


.content__aside {
    grid-column: span 12;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-small);
    height: 100%;

    @media (min-width: 1441px) {
        border-radius: var(--radii-small);
        padding-inline: var(--spacing-medium);
        grid-column: span 4;
        background: var(--clr-surface-elevation-3);
    }
}
