:host {
    display: contents;
    --content__aside-width: 320px;
}

main {
    min-width: min(100%, 1440px);
    max-width: 1440px;
    margin: 0 auto;
}


.hero {
    display: grid;
    grid-template-columns: minmax(150px, 400px) minmax(300px, 1fr);
    gap: var(--spacing-large, 2rem);
}

.hero--image {
    border-radius: var(--radii-medium);
    overflow: hidden;
}

.hero--about {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-small, 0.5rem);
}

.hero--header {
    display: grid;
    grid-template-columns: 1fr max-content;
    gap: var(--spacing-medium, 1rem);
}

.hero--genres {
    display: flex;
    flex-grow: 0;
    gap: var(--spacing-small, 0.5rem);
}

.hero--meta {
    display: flex;
    gap: var(--spacing-small, 0.5rem);
}

.content {
    position: relative;
    background: var(--clr-surface-elevation-1);
    padding: var(--spacing-large);
    padding-block-end: var(--spacing-xx-large);
    height: 100%;
    display: grid;
    gap: var(--spacing-large);
    border-start-start-radius: var(--radii-medium);
    border-start-end-radius: var(--radii-medium);
}

.main {
    width: calc(100% - var(--content__aside-width));
    display: flex;
    flex-direction: column;
    gap: var(--spacing-large, 2rem);
    overflow: hidden;

}

.article {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-small);
}

.article__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.article--grid {
    position: relative;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: minmax(175px, 250px);
    gap: var(--spacing-medium);
}

.article--grid::after {
    content: "";
    position: sticky;
    background: linear-gradient(to right, rgba(25, 35, 42, 0) 0%, rgba(25, 35, 42, 1) 95%);
    width: 100px;
    height: 100%;
    right: 0;
    z-index: 2;
}


.article--item {
    background: var(--clr-surface-elevation-2);
}

.article--about {
    padding: var(--spacing-medium);
    display: flex;
    flex-direction: column;
}

.article--about__accent {
    color: var(--clr-accent);
}


.meta--keywords {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-small);
    text-transform: capitalize;
}


.content__aside {
    position: absolute;
    right: 0;
    top: 0;
    width: var(--content__aside-width, 300px);
    padding-inline-end: var(--spacing-large);
    padding-block: var(--spacing-large);
    display: grid;
    gap: var(--spacing-small);
}
