<a [routerLink]="['../']" (click)="goBack($event)">Back</a>
<h1>Seasons</h1>
<ul class="list">
    @for(s of detailedShow().seasons; track $index) {
    <li class="list__item">
        <a [routerLink]="[s.seasonNumber]" class="list__item-anchor">
            <app-image class="list__item-image" [params]="createImageParams(s)"></app-image>
            <div class="list__item-wrapper">
                <div class="list__item-header">
                    <span class="label-medium">{{s.name}}</span>
                    <span class="label-medium">{{s.episodeCount}} episodes</span>
                </div>
                <div class="list__item-content">
                    <span>{{s.overview}}</span>
                </div>
            </div>
        </a>
    </li>
    }
</ul>
